@charset "UTF-8";   
///为了统一采用圆角效果
@mixin radius($rd:5px)
{
    -webkit-border-radius:$rd;
    -moz-border-radius:$rd;
     border-radius:$rd;
}
//统一浏览器的阴影效果
@mixin box-shadow($sd...)
{
    -webkit-box-shadow:$sd;
    -moz-box-shadow:$sd;
    -ms-box-shadow:$sd;
      box-shadow:$sd;
} 

//统一浏览器的透明效果
@mixin opacity($opacity:50) {
  opacity: $opacity / 100;
  filter: alpha(opacity=$opacity);
} 
//线性渐变
@mixin line-gradient($begin,$end){
   background:-webkit-gradient(linear, left top, left bottom, from($begin), to($end));
   background:-moz-linear-gradient(left top, left bottom, from($begin),to($end));
   background:-ms-linear-gradient( left top, left bottom, from($begin),to($end));
   background:-moz-linear-gradient(left top, left bottom, from($begin),to($end));
   background:linear-gradient(left top, left bottom, from($begin),to($end));
}
//偏移量
@mixin translate($x,$y){
   -webkit-transform:translate($x,$y);
   -moz-transform:translate($x,$y);
   -ms-transform:translate($x,$y);
    transform:translate($x,$y);
} 
//旋转角度
@mixin rotate($deg){
   -webkit-transform:rotate($deg);
   -moz-transform:rotate($deg);
   -ms-transform:rotate($deg);
   transform:rotate($deg);
}
//倾斜度
@mixin skew($x,$y){
   -webkit-transform:skew($x,$y);
   -moz-transform:skew($x,$y);
   -ms-transform:skew($x,$y);
   transform:skew($x,$y);
} 
//放大缩小
@mixin scale($x,$y){
   -webkit-transform:scale($x,$y);
   -moz-transform:scale($x,$y);
   -ms-transform:scale($x,$y);
   transform:scale($x,$y);
}     
